
.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar {
    margin-bottom: 0px;
}

header {
    max-height: 200px;
}

#logo{
    max-height: 200px;
}