<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload files</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">

    </script>
</head>
<body>

    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div>Order Id</div>
        <div><input name="id" type="number" required/></div>
        <div>
            <input name="file" type="file" multiple accept="image/*" required/>
        </div>
        <div>
            <input type="submit" value="Upload"/>
        </div>
        <br/>
        <br/>
    </form>
        <div>
            <input id='order' name="order" type="number"/>
        </div>
        <div><input type="button" onclick="download()" value="download"/> </div>
    </form>

<script>
$(document).ready(function(){

    download = function(){
        var url = $('#order').val()
        console.log(url);
        window.location = '/orders/'+url
        return false;
    }
});

</script>

</body>
</html>